<HTML>
<head>
</head>
<body>
<form method="POST" action="ajoutEmploye.php">
<table>
<caption>Ajouter Employe</caption>
<tr>
<td>nom du produit </td>
<td><input type="text" name="nom_du_produit"></td>
</tr>
<tr>
<td>categorie</td>
<td><input type="text" name="categorie"></td>
</tr>
<tr>
<td>cible</td>
<td><input type="text" name="cible"></td>
</tr>
<tr>
<td>picture</td>
<td><input type="text" name="picture"></td>
</tr>
<tr>
<td></td>
<td><input type="submit" name="ajouter" value="ajouter"></td>
</tr>
</table>
</form>
</body>
</HTMl>