<HTML>
<head>
</head>
<body>
<form method="POST" action="ajoutEmploye.php">
<table>
<caption>Ajouter Employe</caption>
<tr>
<td>CIN</td>
<td><input type="number" name="cin"></td>
</tr>
<tr>
<td>Nom</td>
<td><input type="text" name="nom"></td>
</tr>
<tr>
<td>Prenom</td>
<td><input type="text" name="prenom"></td>
</tr>
<tr>
<td>adresse</td>
<td><input type="text" name="adresse"></td>
</tr>
<tr>
<td>mail</td>
<td><input type="text" name="mail"></td>
</tr>
<tr>
<td>telephone</td>
<td><input type="number" name="telephone"></td>
</tr>
<tr>
<td></td>
<td><input type="submit" name="ajouter" value="ajouter"></td>
</tr>
</table>
</form>
</body>
</HTMl>